# SQL Project
You were hired by Ironhack to perform an Analytics Consulting Project entitled: competitive landscape.

Your mission is to create and populate an appropriate database with many coding schools that are our competition, as well as design an suitable queries that answer business questions of interest (to be defined by you)

**Suggested Steps in the Project:**


*   Read this notebook and understand each function. Comment the code appropriately

*   Populate the list of schools with a wider variety of schools (how are you going to get the school ID?)

* Take a look at the obtained dataframes. What dimensions do you have? what keys do you have? how could the different dataframes be connected?

* Go back to the drawing board and try to create an entity relationship diagram for tables available

* Once you have the schemas you want, you will need to:
  - create the suitable SQL queries to create the tables and populate them
  - run these queries using the appropriate Python connectors
  
* Bonus: How will this datamodel be updated in the future? Please write auxiliary functions that test the database for data quality issues. For example: how could you make sure you only include the most recent comments when you re-run the script?


# Suggested Deliverables

* 5-6 minute presentation of data model created, decision process and business analysis proposed

* exported .sql file with the final schema

* Supporting python files used to generate all logic

* High level documentation explaining tables designed and focusing on update methods

Crucial hint: check out the following tutorial:
https://www.dataquest.io/blog/sql-insert-tutorial/

In [1]:
# you must populate this dict with the schools required -> try talking to the teaching team about this


schools = {   
'ironhack' : 10828,
'app-academy' : 10525,
'udacity' : 11118,
'general-assembly': 10761,
'weclouddata' : 11165,
'devmountain': 10710,
'jedha':10837,
}

import re
import pandas as pd
from pandas.io.json import json_normalize
import requests



def get_comments_school(school):
    TAG_RE = re.compile(r'<[^>]+>')
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])
  
    #aux function to apply regex and remove tags
    def remove_tags(x):
        return TAG_RE.sub('',x)
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

In [2]:
# could you write this as a list comprehension? ;)
comments = []

for school in schools.keys():
    print(school)
    comments.append(get_comments_school(school))

comments = pd.concat(comments).reset_index()
comments=comments.drop("index",axis=1)

ironhack
app-academy
udacity
general-assembly
weclouddata
devmountain
jedha

In [3]:
comments

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,...,queryDate,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,school
0,294009,Alaa,False,None,2022.0,True,UX/UI Designer,it was a great eye openning experience,"<span class=""truncatable""><p></p><p>The pros w...",<p>The pros was deffinately that it was a real...,...,2022-10-17,UX/UI Design Bootcamp,{'image': None},4.0,[],4.0,5.0,3.0,The pros was deffinately that it was a really ...,ironhack
1,293764,Ana Valeria Khatchikian,False,None,2022.0,False,Journalist,Great,"<span class=""truncatable""><p></p><p>I really e...","<p>I really enjoyed the boot camp, it was very...",...,2022-10-07,UX/UI Design Bootcamp,{'image': None},3.3,[],4.0,3.0,3.0,"I really enjoyed the boot camp, it was very in...",ironhack
2,293752,Anonymous,True,None,2022.0,True,Ux designer,Ux designer,"<span class=""truncatable""><p></p><p>Its a grea...",<p>Its a great program for those who wish chan...,...,2022-10-07,UX/UI Design Bootcamp,{'image': None},3.7,[],3.0,4.0,4.0,Its a great program for those who wish change ...,ironhack
3,293725,Anonymous,True,None,2022.0,True,Data analyst,Very good,"<span class=""truncatable""><p></p><p>When i sta...",<p>When i started my journey i was a bit nervo...,...,2022-10-06,Data Analytics Part-Time,{'image': None},3.3,[],3.0,4.0,3.0,When i started my journey i was a bit nervous ...,ironhack
4,293664,Nikos,False,None,2022.0,False,,High recommended Data analytics Bootcamp (Iro...,"<span class=""truncatable""><p></p><p>I am very ...",<p>I am very happy and pleased for joining and...,...,2022-10-04,,{'image': None},5.0,[],5.0,5.0,5.0,I am very happy and pleased for joining and fi...,ironhack
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5140,243187,Georges BALOUBI,False,Data Science,2018.0,True,data scientist,JEDHA is a reference,<p>JEDHA is a reference in the face-to-face tr...,JEDHA is a reference in the face-to-face train...,...,2018-05-26,Data Science,{'image': None},5.0,[],5.0,5.0,5.0,JEDHA is a reference in the face-to-face train...,jedha
5141,243745,Christa LESEIGNEUR,False,Data Science,2018.0,False,None,Formation Data Scientist chez Jedha,"<span class=""truncatable""><p>Fait bon vivre, e...","Fait bon vivre, espace très agréable.\r\nJ’ai ...",...,2018-05-25,Data Science,{'image': None},4.7,[],5.0,5.0,4.0,"Fait bon vivre, espace très agréable.J’ai pass...",jedha
5142,243744,Christa LESEIGNEUR,False,Data Science,2018.0,True,None,Formation Data Scientist chez Jedha,"<span class=""truncatable""><p>J’ai passé 8 sema...",J’ai passé 8 semaines de formation de Data Sci...,...,2018-05-25,Data Science,{'image': None},5.0,[],5.0,5.0,5.0,J’ai passé 8 semaines de formation de Data Sci...,jedha
5143,235779,Val,False,Data Science,2017.0,True,Entrepreneur,Un bootcamp innovant en France,"<span class=""truncatable""><p>En tant qu’entrep...","En tant qu’entrepreneur, j’ai décidé de postul...",...,2018-01-26,Data Science,{'image': None},5.0,[],5.0,5.0,5.0,"En tant qu’entrepreneur, j’ai décidé de postul...",jedha
5144,244789,Léa,False,Data Science,2018.0,True,None,"J'ai passé 8 samedi incroyables avec Antoine, ...","<span class=""truncatable""><p>J’ai passé 8 same...","J’ai passé 8 samedi incroyables avec Antoine, ...",...,2018-01-25,Data Science,{'image': None},5.0,[],5.0,5.0,5.0,"J’ai passé 8 samedi incroyables avec Antoine, ...",jedha

In [4]:
from pandas.io.json import json_normalize

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])
    
    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school
    

    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in schools.items():
    print(school)
    a,b,c,d = get_school_info(school,id)
    
    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

ironhack

C:\Users\User\AppData\Local\Temp\ipykernel_8068\1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

app-academy

C:\Users\User\AppData\Local\Temp\ipykernel_8068\1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

udacity

C:\Users\User\AppData\Local\Temp\ipykernel_8068\1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

general-assembly

C:\Users\User\AppData\Local\Temp\ipykernel_8068\1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

weclouddata

C:\Users\User\AppData\Local\Temp\ipykernel_8068\1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

devmountain

C:\Users\User\AppData\Local\Temp\ipykernel_8068\1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

jedha

C:\Users\User\AppData\Local\Temp\ipykernel_8068\1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

In [19]:
locations = pd.concat(locations_list).reset_index()
locations=locations.drop(["index","state.id","state.name","state.abbrev","state.keyword"],axis=1)
locations=locations.rename({"country.name":"country_name","city.name":"city_name"},axis=1)
locations

,id,description,country.id,country_name,country.abbrev,city.id,city_name,city.keyword,school,school_id
0,15901,"Berlin, Germany",57.0,Germany,DE,31156.0,Berlin,berlin,ironhack,10828
1,16022,"Mexico City, Mexico",29.0,Mexico,MX,31175.0,Mexico City,mexico-city,ironhack,10828
2,16086,"Amsterdam, Netherlands",59.0,Netherlands,NL,31168.0,Amsterdam,amsterdam,ironhack,10828
3,16088,"Sao Paulo, Brazil",42.0,Brazil,BR,31121.0,Sao Paulo,sao-paulo,ironhack,10828
4,16109,"Paris, France",38.0,France,FR,31136.0,Paris,paris,ironhack,10828
...,...,...,...,...,...,...,...,...,...,...
59,18251,"London, UK",11.0,United Kingdom,GB,31176.0,London,london,jedha,10837
60,18252,"Lille, France",38.0,France,FR,31128.0,Lille,lille,jedha,10837
61,18253,"Bordeaux, France",38.0,France,FR,31124.0,Bordeaux,bordeaux,jedha,10837
62,18254,"Marseille, France",38.0,France,FR,31129.0,Marseille,marseille,jedha,10837
63,18255,"Nantes, France",38.0,France,FR,31130.0,Nantes,nantes,jedha,10837

In [6]:
courses = pd.concat(courses_list).reset_index()
courses=courses.drop("index",axis=1)
courses.head(10)

                                       courses       school  school_id
0                      Cyber Security Bootcamp     ironhack      10828
1                      Cybersecurity Part-Time     ironhack      10828
2                      Data Analytics Bootcamp     ironhack      10828
3                     Data Analytics Part-Time     ironhack      10828
4                        UX/UI Design Bootcamp     ironhack      10828
5                       UX/UI Design Part-Time     ironhack      10828
6                     Web Development Bootcamp     ironhack      10828
7                    Web Development Part-Time     ironhack      10828
8  16-Week Campus Software Engineering Program  app-academy      10525
9                                Bootcamp Prep  app-academy      10525

In [7]:
badges = pd.concat(badges_list).reset_index()
badges=badges.drop("index",axis=1)
badges.head()

,name,keyword,description,school,school_id
0,Available Online,available_online,<p>School offers fully online courses</p>,ironhack,10828
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,ironhack,10828
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,ironhack,10828
3,Available Online,available_online,<p>School offers fully online courses</p>,app-academy,10525
4,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,app-academy,10525

In [8]:
# any data cleaning still missing here? take a look at the description
schools = pd.concat(schools_list).reset_index()
schools=schools.drop("index",axis=1)
schools.head()

,website,description,LogoUrl,school,school_id
0,www.ironhack.com/en,"<span class=""truncatable""><p>Ironhack is a glo...",https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828
1,appacademy.io,"<span class=""truncatable""><p>Founded in 2012, ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
2,www.udacity.com/?utm_source=switchup&utm_mediu...,"<span class=""truncatable""><p>Udacity is the tr...",https://d92mrp7hetgfk.cloudfront.net/images/si...,udacity,11118
3,generalassemb.ly/?utm_medium=affiliate-lead-gl...,"<span class=""truncatable""><p>General Assembly ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,general-assembly,10761
4,weclouddata.com,"<span class=""truncatable""><p>WeCloudData offer...",https://d92mrp7hetgfk.cloudfront.net/images/si...,weclouddata,11165

In [9]:
def remove_tags_description(x):
    TAG_RE = re.compile(r'<[^>]+>')
    return TAG_RE.sub('',x)
schools['school_description'] = schools['description'].apply(remove_tags_description)

In [10]:
from sqlalchemy import create_engine

In [11]:
import pymysql

In [12]:
import mysql.connector
import getpass

In [13]:
password = getpass.getpass()

········

In [14]:
cnx = mysql.connector.connect(user = 'root', password= password, host= 'localhost')

In [15]:
cursor = cnx.cursor()

In [16]:
query = ("""CREATE DATABASE sql_project2""")
cursor.execute(query)

DatabaseError: 1007 (HY000): Can't create database 'sql_project2'; database exists

In [ ]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="Vacaciones2022*",
                               db="sql_project2"))

In [ ]:
schools.to_sql('schools', con=engine,if_exists='append', chunksize=1000)

In [ ]:
badges.to_sql('badges', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
courses.to_sql('courses', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
locations.to_sql('locations', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
sql = "SELECT * FROM sql_project2.locations"
cursor.execute(sql)

In [ ]:
result = cursor.fetchall()
for i in result:
    print(i)

In [ ]:
comments2 = comments.copy()
if 'comments' in comments2.columns:
    del comments2['comments']
if 'rawBody' in comments2.columns:
    del comments2['rawBody']
if 'body' in comments2.columns:
    del comments2['body']
if 'user' in comments2.columns:
    del comments2['user']

In [ ]:
comments2.to_sql('comments2', con = engine, if_exists = 'append', chunksize = 5000)